*{
    margin: 0;
    padding: 0;
    font-family:monospace;
}
html{
    height:100%;
    width:98%;
}
body{
    background: #4d4d4d
}
.title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width:100%;
    min-width: 100%;
    background: black;
    color: #4d4d4d;
    padding: 24px 0px 24px 24px;
    border-bottom-left-radius:50px ;
}
.botão{
    border-radius: 25%;
    background: #353434;
    padding: 2px 35px;
    margin-left: 45%;
    margin-top: 5px;
    cursor:crosshair;
}
.Game-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: self-start;
    background: #353434;
    margin: 2%;
    padding: 10px;
    border: solid #1f1d1d;
    border-radius: 16px;
    color: #1f1d1d;
}
#saida{
    white-space: pre-line;
    color: #1f1d1d;
    font-size: 10px;
    cursor: none;
    letter-spacing: 1px;
}
ul{
    font-size: 20px;
}
.itens{
    list-style: none;
    text-decoration:underline;
}
#play2{
    display:none;
}